@page "/admin/books"
@page "/admin"
@inherits OwningComponentBase<IBookstoreRepository>

@*Creates a table of all current books in the database, for viewing, editing, updating, or deleting. In other words, implements CRUD.*@
<table class="table table-sm table-striped table-bordered table-hover">

    <thead>
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>

    <tbody>

        @if (BookData?.Count() > 0)
        {
            //list books, iterates through each one.
            @foreach (Book b in BookData)
            {
                <tr>
                    <td>@b.BookId</td>
                    <td>@b.Title</td>
                    <td>@b.Author</td>

                    <td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
                    </td>

                    <td>
                        <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit</NavLink>
                    </td>

                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBook(b))">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Books</td>
            </tr>
        }

    </tbody>

</table>

@*Used Bootstrap to change the color of this button below to green, using btn-success. Realized after the fact that we ~had~ used this feature before,
    but still felt new to me because I looked it up and had no idea that's what I was typing before... Haha whoops.'*@
<NavLink class="btn btn-primary btn-success" href="/admin/books/create">Create</NavLink>

@code {
    public IBookstoreRepository repo => Service;

    public IEnumerable<Book> BookData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";

    public async Task RemoveBook(Book b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }

}
